{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Issue{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {# hidden field for spam prevention #}
    <input class="do_not_show" name="city">

    <label for="category">Category</label>
    <select id="category" name="category">
    {% for cat in categories %}
      <option value="{{ cat['id'] }}">{{ cat['title'] }}</option>
    {% endfor %}
    </select>
    <label for="severity">Severity</label>
    <select id="severity" name="severity">
    {% for sev in severities %}
      <option value="{{ sev['id'] }}">{{ sev['title'] }}</option>
    {% endfor %}
    </select>
    <label for="status">Status</label>
    <select id="status" name="status">
    {% for status in statuses %}
      <option value="{{ status['id'] }}">{{ status['title'] }}</option>
    {% endfor %}
    </select>
    <label for="os">Operating System</label>
    <select id="os" name="os">
    {% for os in oses %}
      <option value="{{ os['id'] }}">{{ os['name'] }}</option>
    {% endfor %}
    </select>
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body" required>{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
{% endblock %}
