{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Issues{% endblock %}</h1>
    <a class="action" href="{{ url_for('issues.create') }}">New</a>
{% endblock %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>summary</th>
        <th>category</th>
        <th>severity</th>
        <th>status</th>
        <th>assigned to</th>
        <th>submitted on</th>
      </tr>
    </thead>
    <tbody>
    {% for issue in issues %}
      <tr>
        <td><a href="{{ url_for('issues.update', id=issue['id']) }}">{{ issue['id'] }}</a></td>
        <td><a href="{{ url_for('issues.update', id=issue['id']) }}">{{ issue['title'] }}</a></td>
        <td>{{ issue['category'] }}</td>
        <td>{{ issue['severity'] }}</td>
        <td>{{ issue['status'] }}</td>
        <td>{{ issue['assigned_to'] }}</td>
        <td>{{ issue['created'].strftime('%Y-%m-%d') }}</td>
      </tr>
      {% if not loop.last %}
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
