{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ issue['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {# hidden field for spam prevention #}
    <input class="do_not_show" name="city">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or issue['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or issue['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
{% endblock %}
